@charset "UTF-08";

body {
    background-image: url('imagens/background1.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0px;

}

header {
    background-color: white;
    padding: 20px;
}

header > div {
    display: flex;
    align-items: center;
    margin: auto;
}

div > nav {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    background-color: white;
    padding: 20px;
    font-size: 0.8em;

}

div > img {
    width: 50px;
    height: auto;
}

/*
header nav {
    margin-right: 20px;
}

header img {
    width: 60px;
    height: auto;
    display: flex;
    margin-right: 30px;
    margin: auto;
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}
*/



nav > a {
    padding: 5px;
    color: grey;
    text-decoration: none;
    margin-right: 20px;
    padding: 15px;
    transition-duration: 0.2s;
}

nav > a:hover {
    color: black;
    background-color: greenyellow;
    
}

main {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

main > h1 {
    padding: 15px;
    border: 1px solid black;
    width: 400px;
    height: auto;
    font-size: 1.5em;
    margin: 50px auto;
}

main > p {
    margin: 20px;
    font-weight: bold;
}

div.depo {
    background-color: rgba(255, 255, 255, 0.651);
    margin: 20px;
    padding: 20px;
    
}

footer {
    color: white;
    background-color: black;
    padding: 5px;
    position: absolute;
    width: 100%;
    bottom: 0px;


}

